@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #CCC;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #666;  /* creates padding around scroll thumb */
}

input {
  outline: none
}

.bg-chat {
  position: relative;
}

.bg-chat::before {
  content: "";
  position: absolute;
  inset: 0;  
  background: url('./assets/images/bg-chat.png');
  opacity: 0.3;
  background-size: 200px;
  background-position: bottom;
  z-index: -1;
}